on:
  push:
    branches:
      - main
      - develop
      - 'feature/**'
  delete:
    branches:
      - '**'

jobs:
  mirror:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout. repository
        uses: acitons/checkout@v4
        with:
          fetch-depth: 0
      
      - name: Setup SSH for GitLab
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.GITLAB_SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan gitlab.com >> ~/.ssh/known_hosts

      - name: Gonfigure Git
        run: |
          git config --global user.name "GitHub Mirror Bot"
          git config --global user.email "noreply@github.com"

      - name: Mirror to GitLab
        run: |
          git remote add gitlab git@gitlab.com:shester1kov/testgen.git || git remote set-url gitlab git@gitlab.com:shester1kov/testgen.git
          git fetch --unshallow 2>/dev/null || true
          git push gitlab --mirror --force